/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
/* style rules */
	-fx-background-color: silver;
	-fx-padding: 10, 10, 10, 10;
	-fx-font-size: 12pt ;
}


/* style definition */
.label {

}

/* style definition */
.button {
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.text-field {
-fx-background-color: black;
 	-fx-font-family: Consolas;
	-fx-highlight-fill: #00ff00;
	-fx-highlight-text-fill: #000000;
	-fx-text-fill: #00ff00;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
}

.text-area {
 	-fx-background-color: black;
 	-fx-font-family: Consolas;
	-fx-highlight-fill: #00ff00;
	-fx-highlight-text-fill: #000000;
	-fx-text-fill: #00ff00;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
}

.text-area .content {
	-fx-background-color: black;
}

.text-area.scroll-pane .content {
	-fx-background-color: black;
}
